body {
    font-family: sans-serif;
}

th.devices, td.devices {
    padding: 8px;
}

td.smallpad {
    padding: 5px;
}

table.devices {
    border: 1px solid black;
    background-color: white;
}

.red {
    background-color: #ff8c8c;
}

.yellow {
    background-color: #f7ffad;
}

.green {
    background-color: #8fffa7;
}

.purple {
    background-color: #e1b3ff;
}