@font-face {
    font-family: "Robotech GP";
    src: url("/static/fonts/robotechgp.ttf");
}

body {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 25px;
}

.centered {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    font-family: "Robotech GP";
    font-size: 45px;
    margin-bottom: 25px;
}

.subtitle {
    font-size: 30px;
    margin-bottom: 5px;
}

button.scoutstart {
    margin-top: 10px;
    background-color: #c2f7ff;
    border: 1px solid black;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
}

input.teammatch {
    width: 100px;
    height: 25px;
    font-size: 20px;
    margin-top: 10px;
}
