@font-face {
    font-family: "Robotech GP";
    src: url("/static/fonts/robotechgp.ttf");
}

body {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 25px;
}

.centered {
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translate(-50%, 0%);
    text-align: center;
}

.title {
    font-family: "Robotech GP";
    font-size: 45px;
    margin-bottom: 25px;
}

.subtitle {
    font-size: 30px;
    margin-bottom: 5px;
}

button.scoutstart {
    margin-top: 10px;
    background-color: #c2f7ff;
    border: 1px solid black;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
}

input.teammatch {
    width: 100px;
    height: 25px;
    font-size: 15px;
    margin-top: 10px;
}

div.modeswitcher {
    text-align: center;
    font-size: 30px;
    line-height: 75px;
}

div.switcherbutton1 {
    position: absolute;
    top: 0px;
    height: 75px;
    left: 0%;
    width: 33.33%;
    background-color: #ffc7c7;
}

div.switcherbutton2 {
    position: absolute;
    top: 0px;
    height: 75px;
    left: 33.33%;
    width: 33.33%;
    background-color: #c7ffd1;
}

div.switcherbutton3 {
    position: absolute;
    top: 0px;
    height: 75px;
    left: 66.66%;
    width: 33.33%;
    background-color: #c3c9fa;
}

div.visualcanvasdiv {
    position: absolute;
    top: 75px;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

canvas.visualcanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
}

div.classicdiv {
    position: absolute;
    top: 75px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

div.unit {
    background-color: blue;
    display: inline-block;
    width: 180px;
    height: 180px;
}
